
<body>
  <h1>Edit a task</h1>
  <form action='#' method='post'
    <p> Task name: </p>
    <input type='text' name='name' id='name' placeholder="name">
    <p> Task category: </p>
    <input type='text' name='category' id='category' placeholder='category'>
    <p> Task due date: </p>
    <input type='text' name='due' id='due' placeholder='due'>
  </form>
</body>
