
<section class='task-info'>
<h2> Your Tasks </h2>
  <ul>
    <li> <%= @task.name %>
      <ul>
        <li> <%= @task.category %> </li>
        <li> <%= @task.due %> </li>
      </ul>
    </li>
  </ul>
</section>
