/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* * {
   border: 1px blue solid;
 } */

 body {
   display: grid;
   grid-template-columns: 1fr 2fr;
   grid-template-row: 2fr 100px;
   justify-content: center;
   width: 50%;
   height: 35rem;
   border: 3px black solid;
   margin: 0 20%;
   overflow: scroll;
 }

 h1 {
   text-align: center;
 }

 h2 {
   text-align: center;
 }

 .do-stuff {
   display: flex;
   flex-direction: column;
   grid-column-start: 1;
   grid-row-start: 1;
   /* justify-content: center; */
   align-items: left;
   font-size: 2rem;
 }

  .do-stuff a {
    text-decoration: none;
    color: black;
  }

  .do-stuff p:hover {
    background-color: yellow;
  }

 .do-stuff p {
   display: flex;
   text-align: center;
   justify-content: center;
   border: black 1px solid;
   padding: 5%;
   margin: 10%;
   font-size: 1.5rem;
   font-family: sans-serif;
 }

  .complete {
    text-decoration: line-through;
  }

 .task-info {
   grid-row-start: 1;
   grid-column-start: 2;
   margin: 10%;
   display: flex;
   align-items: center;
   justify-content: center;
   border: #00000050 4px solid;
   border-radius: 5%;
}

footer {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  justify-content: justify;
  border-top: 3px black solid;
}
